header {
  @include Fixed($Top: 0, $Left: 0, $Right: 0);
  @include Flexbox;
  @include FlexFlow(nowrap);
  background: rgba($WhiteColor, 0.7);
  height: 64px;
  border-bottom: 1px solid $BorderDark;
  backdrop-filter: blur(20px);
  z-index: 99;

  .logo {
    @include Size(200px, 100%);
    @extend %FlexCol-CenterCenter;
    border-right: 1px solid $BorderDark;

    @include RespondTo(MobileDevices) {
      width: 150px;
    }

    svg {
      @include Size(150px, 40px);

      @include RespondTo(MobileDevices) {
        @include Size(120px, 24px);
      }

      path {
        fill: $PrimaryColor;
      }
    }
  }

  nav.navbarMain {
    flex: 2;

    @include RespondTo(IpadDevices) {
      @include Size(600px, 100vh);
      max-width: 90%;
      @include Fixed($Top: 0, $Right: -600px);
      background: rgba($BlackColor, 0.95);
      backdrop-filter: blur(20px);
      z-index: 99;
      @include Transition(0.1s);
    }

    .navbarClose {
      display: none;
      @include Absolute($Right: 20px, $Top: 20px);

      > button {
        border: none;
        background: transparent;
      }

      svg {
        @include Size(42px, 42px);

        path {
          fill: $FontColorLight;
        }
      }
    }

    ul {
      @include Size(100%, 100%);
      @extend %FlexRow-CenterStart;

      @include RespondTo(IpadDevices) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      li {
        height: 100%;
        padding: 0 7px;

        @include RespondTo(IpadDevices) {
          height: auto;
          margin-bottom: 20px;
        }

        a {
          @extend %FlexCol-CenterCenter;
          display: inline-flex;
          height: 100%;
          padding: 10px;
          text-decoration: none;
          border-bottom: 2px solid transparent;

          @include RespondTo(SmallDesktop) {
            padding-left: 0;
            padding-right: 0;
          }
        }

        &.active {
          a {
            border-bottom-color: $PrimaryColor;

            @include RespondTo(IpadDevices) {
              border-bottom-color: $LightBlueColor;
            }
          }
        }
      }
    }
  }

  .headerActions {
    @extend %FlexRow-CenterCenter;
    border-left: 1px solid $BorderDark;
    padding: 0 10px;

    .modeChange {
      > span {
        cursor: pointer;
      }
    }

    > div {
      padding: 0 10px;
      height: 100%;
      @extend %FlexCol-CenterCenter;

      &.headerNotification {
        .notiIc {
          position: relative;

          svg {
            @include Size(22px, 22px);

            @include RespondTo(MobileDevices) {
              @include Size(20px, 20px);
            }
          }

          .notiIndicator {
            @include Size(10px, 10px);
            @include Absolute($Right: -2px, $Top: -2px);
            @include BorderRadius(50%);
            background: red;
            border: 2px solid $WhiteColor;
          }
        }
      }

      &.headerUser {
        position: relative;

        .headerUserIc {
          cursor: pointer;
        }
      }
    }

    svg {
      @include Size(28px, 28px);

      @include RespondTo(MobileDevices) {
        @include Size(22px, 22px);
      }

      path {
        fill: $PrimaryColor;
      }
    }
  }

  .mobileNavTrigger {
    padding: 0 15px;
    @extend %FlexCol-CenterCenter;
    display: none;

    @include RespondTo(IpadDevices) {
      display: flex;
      flex: 2;
      @include AlignItems(flex-end);
    }

    > button {
      border: none;
      background: transparent;
    }

    &.show {
      + nav.navbarMain {
        right: 0px;
        @include Transition(0.1s);
      }
    }

    svg {
      @include Size(24px, 24px);

      path {
        fill: $PrimaryColor;
      }
    }
  }
}

.darkMode {
  header {
    background: rgba($DarkBg, 0.7);
    border-bottom-color: $BorderLight;

    .logo {
      border-right-color: $BorderLight;

      svg {
        path {
          fill: $SecondaryColor;
        }
      }
    }

    nav.navbarMain {
      ul {
        li {
          &.active {
            a {
              border-bottom-color: $SecondaryColor;
            }
          }
        }
      }
    }

    .headerActions {
      border-left-color: $BorderLight;

      svg {
        path {
          fill: $FontColorLight;
        }
      }

      .headerNotification {
        .notiIc {
          .notiIndicator {
            background: red;
            border-color: $DarkBg;
          }
        }
      }
    }

    .mobileNavTrigger {
      svg {
        path {
          fill: $FontColorLight;
        }
      }
    }
  }
}
