.button {
    padding: 0.7rem 1.3rem;
    @include BorderRadius(3px);
    border: 1px solid transparent;
    @include Font(null, 0.8rem, null, null, 500);
    letter-spacing: 0.5px;
    text-decoration: none;
    cursor: pointer;

    &.withIcon {
        @extend %FlexRow-CenterStart;
        display: inline-flex;
        padding-left: 0.6rem;

        i {
            width: 24px;
            @extend %FlexCol-CenterCenter;

            svg {
                @include Size(18px, 18px);
            }

            + span {
                flex: 2;
                margin-left: 7px;
            }
        }

        span {
            margin-left: 10px;

            + i {
                margin-left: 7px;
            }
        }
    }

    &.rounded {
        @include BorderRadius(70px);
    }

    &.primary {
        background: $PrimaryColor;
        border-color: $PrimaryColor;
        color: $WhiteColor;
    }

    &.secondary {
        background: $SecondaryColor;
        border-color: $SecondaryColor;
        color: $BlackColor;
    }
}