.card {
  @include Size(100%, auto);
  background: $WhiteColor;
  border: 1px solid $WhiteColor;
  padding: 24px;
  @include BorderRadius($CardRounded);
  @include BoxShadow(0px 0px $CardRounded rgba($PrimaryColor, 0.15));

  @include RespondTo(MobileDevices) {
    padding: 20px;
    border-radius: 14px;
  }

  .cardHeader {
    padding-bottom: 18px;
    @extend %FlexRow-CenterBetween;

    @include RespondTo(MobileDevices) {
      padding-bottom: 18px;
    }

    .cardTitle {
      flex: 2;

      h2 {
        margin: 0;
      }

      p {
        margin: 7px 0;
      }
    }
  }

  .cardBody {
    width: 100%;
  }

  &.cardInnerSplit {
    padding: 0;
    @include Flexbox;
    @include FlexFlow(nowrap);
    border-color: $LightBg;

    .cardSidebar {
      width: 300px;
      background-color: $LightBg;
      @include BorderRadius($CardRounded 0 0 $CardRounded);
    }

    .cardBody {
      flex: 2;
      padding: 24px;

      @include RespondTo(MobileDevices) {
        padding: 18px;
      }
    }
  }
}

.darkMode {
  .card {
    background: none;
    border-color: $BorderLight;
    box-shadow: none;

    .cardHeader {
      .cardTitle {
        flex: 2;
      }
    }

    &.cardInnerSplit {
      .cardSidebar {
        background-color: $BorderLight;
      }
    }
  }
}
