.MuiPaper-root.MuiTableContainer-root {
  box-shadow: none !important;
  background: none !important;

  .MuiTableCell-root.MuiTableCell-head {
    background-color: transparent !important;
    border-bottom-color: darken($BorderDark, 1%) !important;
    white-space: nowrap;
  }

  .MuiTableCell-root.MuiTableCell-body {
    background-color: transparent !important;
    border-bottom: none !important;
    white-space: nowrap;

    .MuiButtonBase-root.MuiIconButton-root {
      background: $LightBlueBg !important;

      svg {
        path:last-child {
          fill: $BlackColor !important;
        }
      }
    }
  }
}

.darkMode {
  .MuiPaper-root.MuiTableContainer-root {
    .MuiTableCell-root.MuiTableCell-head {
      border-bottom-color: $BorderLight !important;
    }

    .MuiTableCell-root.MuiTableCell-body {
      .MuiButtonBase-root.MuiIconButton-root {
        background: $DarkBlueBg !important;

        svg {
          path:last-child {
            fill: $WhiteColor !important;
          }
        }
      }
    }
  }
}
