.radioGroupMain {
  @include Flexbox;
  @include FlexFlow(nowrap);
  border: 1px solid $BorderDark;

  @include RespondTo(MobileDevices) {
    @include FlexFlow(wrap);
  }

  .radioItem {
    flex: 2;

    + .radioItem {
      border-left: 1px solid $BorderDark;
    }

    .radioInput {
      display: none;

      + .radioLabel {
        display: block;
        text-align: center;
        padding: 10px 15px;
        @include Font(null, 0.85rem, $FontColorDark, null, 600);
        cursor: pointer;
      }

      &:checked {
        + .radioLabel {
          background: $PrimaryColor;
          color: $WhiteColor;
          white-space: nowrap;
        }
      }

      &:disabled {
        + .radioLabel {
          background: rgba($BlackColor, 0.1);
          color: rgba($FontColorDark, 0.5);
          cursor: default;
        }
      }
    }
  }
}

.radioListMain {
  @include Flexbox;
  @include FlexFlow(wrap);

  .radioItem {
    + .radioItem {
      margin-left: 12px;
    }

    .radioInput {
      display: none;

      + .radioLabel {
        @include Font(null, 0.85rem, $FontColorDark, null, 600);
        cursor: pointer;
        position: relative;
        padding-left: 24px;

        &::before,
        &::after {
          content: "";
          @include Absolute($Left: 0px);
        }

        &::before {
          @include Size(16px, 16px);
          @include BorderRadius(50%);
          border: 1px solid $BorderDark;
        }

        &::after {
          @include Size(10px, 10px);
          @include BorderRadius(50%);
          left: 4px;
          top: 4px;
        }
      }

      &:checked {
        + .radioLabel {
          color: $PrimaryColor;
          
          &::before {
            border-color: $PrimaryColor;
          }
          &::after {
            background-color: $PrimaryColor;
          }
        }
      }

      &:disabled {
      }
    }
  }
}
