.css-1k51tf5-MuiTooltip-tooltip {
    background-color: $PrimaryColor !important;
    padding: 5px 10px !important;
    font-size: 0.8rem !important;
}

.css-kudwh-MuiTooltip-arrow {
    color: $PrimaryColor !important;
}