.offerTemplateMain {
  @include Flexbox;
  @include FlexFlow(wrap);
  @include JustifyContent(center);

  .offerCard {
    width: 30%;
    max-width: 420px;
    background: $LightBlueBg;
    @include BorderRadius($CardRounded);
    padding: 18px;
    margin: 15px;

    .offerCardHeader {
      @include Font(null, 1.5rem, $FontColorDark, null, 500);
      padding: 10px 0 20px 0;
      text-align: center;
    }

    .offerCardBody {
      min-height: 180px;

      .blankCard {
        @include Size(100%, auto);
        @extend %FlexCol-CenterCenter;
        padding: 50px 0;

        i {
          @include Size(150px, 150px);
          @extend %FlexCol-CenterCenter;

          svg {
            @include Size(140px, 140px);

            path {
              fill: $FontColorLight;
            }
          }
        }

        .cardLabel {
          @include Font(null, 1rem, $FontColorLight, null, 500);
          margin-top: 0.5rem;
        }
      }

      .offerBodyRow {
        .labelData {
          color: $LightBlueColor;
        }

        .valueData {
          color: rgba($FontColorDark, 0.75);
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    .offerCardFooter {
      padding-top: 15px;
      text-align: center;

      .button {
        width: 100%;
      }
    }
  }
}

.darkMode {
  .offerTemplateMain {
    .offerCard {
      background: $BorderLight;

      .offerCardHeader {
        color: $WhiteColor;
      }

      .offerCardBody {
        .offerBodyRow {
          .valueData {
            color: rgba($FontColorLight, 1);
          }
        }
      }
    }
  }
}
