.containerWithSidebar {
  @include Flexbox;
  @include FlexFlow(nowrap);

  .filtersMain {
    width: 250px;

    .sidebarHeader {
      @include Font(null, 1.2rem, $FontColorDark, null, 600);
      margin: 0;
      border-bottom: 1px solid $BorderDark;
      padding-bottom: 10px;
    }

    .filterOption {
      padding-top: 15px;

      .filterTitle {
        @include Font(null, 0.9rem, $FontColorDark, null, 600);
        margin-bottom: 5px;
        background: rgba($BlackColor, 0.05);
        padding: 5px 8px;
        @include BorderRadius(3px);
      }

      .dropdownContainer {
        height: 110px;
      }
    }
  }

  .filtersContainer {
    flex: 2;
    margin-left: 20px;

    .containerHeader {
      border-bottom: 1px solid $BorderDark;
      padding-bottom: 10px;
      @extend %FlexRow-CenterBetween;

      .totalData {
        flex: 2;
        @include Font(null, 1.2rem, $FontColorDark, null, 600);
      }
    }
  }
}

.darkMode {
  .containerWithSidebar {
    .filtersMain {
      .sidebarHeader {
        color: $FontColorLight;
        border-bottom-color: $BorderLight;
      }

      .filterOption {
        .filterTitle {
          color: $FontColorLight;
          background: rgba($BlackColor, 0.05);
        }
      }
    }

    .filtersContainer {
      .containerHeader {
        border-bottom-color: $BorderLight;

        .totalData {
          color: $FontColorLight;
        }
      }
    }
  }
}
