.chatbox__message {
  display: flex;
  justify-content: flex-start;

  &--right {
    display: flex;
    justify-content: flex-end;
  }

  .chatbox__message__box {
    margin: 1rem;
  
    .timestamp {
      display: flex;
      justify-content: flex-end;
    }

    .chatbox__message__innerdiv {
      margin-bottom: .5rem;
      color: $WhiteColor;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 550px;


      &--right {
        background-color: $LightBlueColor;
        border-radius: 8px 0 8px 8px;
        padding: 1rem;

        small {
          color: $FontColorDark;
        }
      }

      &--left {
        background-color: #30336b;
        border-radius: 0 8px 8px 8px;
        padding: 1rem;

        small {
          color: $FontColorLight;
        }
      }
    }
  }
}
