.multiRangeContainer {
  position: relative;
  margin-top: 15px;

  /* Removing the default appearance */
  .thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;

    /* For Chrome browsers */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      background-color: $OrangeColor;
      border: none;
      border-radius: 50%;
      box-shadow: 0 0 1px 1px #ced4da;
      cursor: pointer;
      height: 18px;
      width: 18px;
      margin-top: 4px;
      pointer-events: all;
      position: relative;
    }

    /* For Firefox browsers */
    &::-moz-range-thumb {
      background-color: $OrangeColor;
      border: none;
      border-radius: 50%;
      box-shadow: 0 0 1px 1px #ced4da;
      cursor: pointer;
      height: 18px;
      width: 18px;
      margin-top: 4px;
      pointer-events: all;
      position: relative;
    }

    &.thumbLeft {
      z-index: 3;
    }

    &.thumbRight {
      z-index: 4;
    }
  }

  .slider {
    position: relative;
    width: 100%;
    padding-bottom: 40px;

    .sliderTrack,
    .sliderRange,
    .sliderLeftValue,
    .sliderRightValue {
      position: absolute;
    }

    .sliderTrack,
    .sliderRange {
      border-radius: 3px;
      height: 5px;
    }

    .sliderTrack {
      background-color: rgba($BlackColor, 0.25);
      width: 100%;
      z-index: 1;
    }

    .sliderRange {
      background-color: $SecondaryColor;
      z-index: 2;
    }

    .sliderLeftValue,
    .sliderRightValue {
      width: 70px;
      color: $OrangeColor;
      font-size: 12px;
      margin-top: 20px;

      input {
        width: 100%;
      }
    }

    .sliderLeftValue {
      left: 6px;
    }

    .sliderRightValue {
      right: -4px;
    }
  }
}
