body {
  background: $LightBg;
}

::-moz-selection {
  background: $PrimaryColor;
  color: $WhiteColor;
}
::selection {
  background: $PrimaryColor;
  color: $WhiteColor;
}

*,
*:focus,
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
  outline: none;
}

.layoutMain {
  @include Size(100%, auto);
  min-height: 100vh;

  &.darkMode {
    background: $DarkBg;
  }
}

#__next {
  @include Size(100%, 100%);
}

.containerMain {
  width: 100%;
  padding: 1.7rem 2%;
  padding-top: 90px;

  @include RespondTo(MobileDevices) {
    padding-bottom: 1.5rem;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 85px;
  }
}
