.pageHeader {
  width: 100%;
  @extend %FlexRow-CenterBetween;
  padding-bottom: 1rem;

  @include RespondTo(IpadDevices) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0.8rem;
  }

  h1 {
    flex: 2;
  }

  .headerAction {
    margin-left: 1rem;
    @extend %FlexRow-CenterCenter;

    @include RespondTo(IpadDevices) {
      margin-left: 0;
      margin-top: 0.7rem;
    }

    @include RespondTo(MobileDevices) {
      flex-direction: column;
      width: 100%;
      font-size: 0.8rem;
    }

    .button {
      @include RespondTo(MobileDevices) {
        width: 100%;
      }

      + .button {
        margin-left: 10px;

        @include RespondTo(MobileDevices) {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
}

.error {
  margin: 5px;
  text-align: center;
}

.noData {
  background: $LightBlueBg;
  padding: 2rem;
  @include BorderRadius(1rem);
  @extend %FlexCol-CenterCenter;

  > i {
    @include Size(150px, 150px);
    @extend %FlexCol-CenterCenter;

    svg {
      @include Size(120px, 120px);

      path {
        fill: rgba($FontColorDark, 0.5);
      }
    }
  }

  h2 {
    margin: 0;
  }
}

.hide {
  display: none;
}

.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}

.css-dhopo2 {
  min-height: 210px !important;
}

.submitButtonOuter {
  @extend %FlexCol-CenterCenter;
  margin-top: 20px;
}

.blockLoading {
  @include Size(100%, 295px);
  position: relative;
  margin-top: 10px;
}

.darkMode {
  .pageHeader {
    h1 {
      flex: 2;
    }
  }

  .noData {
    background: $DarkBlueBg;

    > i {
      svg {
        path {
          fill: rgba($FontColorLight, 0.25);
        }
      }
    }
  }
}
