#__next {
  @include Size(100%, 100%);
}

.containerMain {
  width: 100%;
  padding: 1.7rem 2%;
}

.pageHeader {
  width: 100%;
  @extend %FlexRow-CenterBetween;
  padding-bottom: 1rem;

  h1 {
    flex: 2;
    @include Font(null, 1.7rem, $BlackColor, null, 500);
  }

  .headerAction {
    margin-left: 1rem;
  }
}

.error {
  color: red;
  font-size: 10px;
  font-style: italic;
  margin: 5px;
  text-align: center;
}

.noData {
  background: $LightBlueBg;
  padding: 2rem;
  @include BorderRadius($CardRounded/2);
  @extend %FlexCol-CenterCenter;

  h2 {
    @include Font(null, 1rem, $FontColorDark, null, 500);
    margin: 0;
  }
}

.hide {
  display: none !important;
}

.darkMode {
  .pageHeader {
    h1 {
      flex: 2;
      color: $WhiteColor;
    }
  }

  .noData {
    background: $DarkBlueBg;
  }
}

.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}
