html,
body {
    @include Size(100%, 100%);
    font-family: $PrimaryFont;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    @include Font(null, $FontMedium, $FontColorDark, normal, 500);
    overflow-x: hidden;
    letter-spacing: 0.5px;
}

* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border: none;
}

*:hover,
*:focus,
*:active {
    outline: none;
}

a {
    color: $PrimaryColor;

    &:hover {
        color: $PrimaryColor;
    }
}

ul {
    margin: 0;
}

input,
select,
textarea,
button {
    font-family: $PrimaryFont;
}
